<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <weather>
            <general>
                <enable>1</enable>
                <cron_enable>1</cron_enable>
            </general>
            <api>
                <provider>open_weather_map</provider>
                <city>rzeszow</city>
            </api>
        </weather>
    </default>
</config>