<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="admin_weather" frontName="admin_weather">
            <module name="Marcin_Weather"/>
        </route>
        <route id="admin_weather_delete" frontName="admin_weather_delete">
            <module name="Marcin_Weather"/>
        </route>
    </router>
</config>
